---
import Footer from "../components/Footer.astro";
import SobreMi from "../sections/SobreMi.astro";
---

<div
  class="flex flex-col min-h-screen bg-[#1a2a3b] py-12 mt-8 bg-[radial-gradient(103%_103%_at_50%_100%,_#000a6c_20%,_#080811_100%)]"
>
 
  <Footer />
</div>
