<main
  class="min-h-screen bg-[#f0f0f010] p-8 font-sans"
>
  <!-- Header -->
  <header class="text-center mb-16">
    <h1
      class="text-5xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-purple-600"
    >
      Mi Stack de Tecnologías
    </h1>
    <p class="mt-4 text-lg text-gray-400">
      Descubre las herramientas y tecnologías con las que trabajo.
    </p>
  </header>

  <!-- Frontend Section -->
  <section id="frontend" class="mb-16 mt-16">
    <h2 class="text-4xl font-extrabold mb-8 text-center text-white">
      Frontend
    </h2>
    <div class="flex gap-10 flex-wrap justify-center justify-items-center">
      <!-- Icons -->
      <div class="tech-card">
        <i class="devicon-html5-plain colored text-6xl"></i>
        <p class="tech-name">HTML5</p>
      </div>
      <div class="tech-card">
        <i class="devicon-css3-plain-wordmark colored text-6xl"></i>
        <p class="tech-name">CSS3</p>
      </div>
      <div class="tech-card">
        <i class="devicon-tailwindcss-plain colored text-6xl"></i>
        <p class="tech-name">TailwindCSS</p>
      </div>
      <div class="tech-card">
        <i class="devicon-javascript-plain colored text-6xl"></i>
        <p class="tech-name">JavaScript</p>
      </div>
      <div class="tech-card">
        <i class="devicon-typescript-plain colored text-6xl"></i>
        <p class="tech-name">TypeScript</p>
      </div>
      <div class="tech-card">
        <i class="devicon-react-original colored text-6xl"></i>
        <p class="tech-name">React</p>
      </div>
      <div class="tech-card">
        <i class="devicon-nextjs-plain text-6xl"></i>
        <p class="tech-name">Next.js</p>
      </div>
      <div class="tech-card">
        <i class="devicon-astro-plain colored text-6xl"></i>
        <p class="tech-name">Astro</p>
      </div>
      <div class="tech-card">
     
        <i class="devicon-axios-plain colored text-7xl"></i>
          
        <p class="tech-name">Axios</p>
      </div>
      <div class="tech-card">
        <i class="devicon-reactrouter-plain colored text-6xl"></i>
        <p class="tech-name">React Router</p>
      </div>
      <div class="tech-card">
        <i class="devicon-vitejs-plain colored text-6xl"></i>
        <p class="tech-name">Vite.js</p>
      </div>
      <div class="tech-card">
        <i class="devicon-bootstrap-plain colored text-6xl"></i>
        <p class="tech-name">Bootstrap</p>
      </div>
    
    </div>
  </section>

  <!-- Backend Section -->
  <section id="backend" class="mb-16">
    <h2 class="text-4xl font-extrabold mb-8 text-center text-green-400">
      Backend
    </h2>
    <div class="flex gap-10 flex-wrap justify-center justify-items-center">
      <div class="tech-card">
        <i class="devicon-nextjs-plain text-6xl"></i>
        <p class="tech-name">Next.js</p>
      </div>
      <div class="tech-card">
        <i class="devicon-firebase-plain colored text-6xl"></i>
        <p class="tech-name">Firebase</p>
      </div>
      <div class="tech-card">
        <i class="devicon-supabase-plain colored text-6xl"></i>
        <p class="tech-name">Supabase</p>
      </div>
      <div class="tech-card">
        <i class="devicon-prisma-original text-6xl text-gray-200"></i>
        <p class="tech-name">Prisma</p>
      </div>
      <div class="tech-card">
        <i class="devicon-sqlite-plain colored text-6xl"></i>

        <p class="tech-name">Sqlite</p>
      </div>

      <div class="tech-card">
        <i class="devicon-java-plain colored text-6xl"></i>
        <p class="tech-name">Java</p>
      </div>
      <div class="tech-card">
        <i class="devicon-json-plain colored text-6xl"></i>
        <p class="tech-name">JSON</p>
      </div>
    </div>
  </section>

  <!-- Tools Section -->
  <section id="tools" class="mb-16">
    <h2 class="text-4xl font-extrabold mb-8 text-center text-yellow-400">
      Tools
    </h2>
    <div class="flex gap-10 flex-wrap justify-center justify-items-center">
      <div class="tech-card">
        <i class="devicon-git-plain colored text-6xl"></i>
        <p class="tech-name">Git</p>
      </div>
      <div class="tech-card">
        <i class="devicon-github-original text-gray-200 text-6xl"></i>
        <p class="tech-name">GitHub</p>
      </div>
      <div class="tech-card">
        <i class="devicon-insomnia-plain colored text-6xl"></i>

        <p class="tech-name">Insomia</p>
      </div>
      <div class="tech-card">
        <i class="devicon-materialui-plain colored text-6xl"></i>

        <p class="tech-name">MUI</p>
      </div>
      <div class="tech-card">
        <i class="devicon-npm-original-wordmark colored text-6xl"></i>
        <p class="tech-name">npm</p>
      </div>
      <div class="tech-card">
        <i class="devicon-slack-plain text-gray-200 text-6xl"></i>
        <p class="tech-name">Slack</p>
      </div>
    </div>
  </section>
</main>

<style>
  .tech-card {
    text-align: center;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    padding: 1rem;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.767);
  }
  .tech-card:hover {
    transform: scale(1.1);
  }
</style>
