<main class="min-h-screen w-full p-8 font-sans mt-28">
  <!-- Header -->
  <header class="text-center mb-16">
    <h1 class="text-5xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-purple-600">
      Mi Stack de Tecnologías
    </h1>
    <p class="mt-4 text-lg text-gray-400">
      Descubre las herramientas y tecnologías con las que trabajo.
    </p>
  </header>

  <!-- Frontend Section -->
  <section id="frontend" class="mb-16 w-full max-w-screen-lg mx-auto" data-aos="fade-left" data-aos-duration="1000">
    <h2 class="text-4xl font-extrabold mb-8 text-center text-white">Frontend</h2>
    <div class="flex gap-10 flex-wrap justify-center">
      <!-- Icons -->
      <div class="tech-card">
        <i class="devicon-html5-plain text-6xl" ></i>
        <p class="tech-name">HTML5</p>
      </div>
      <div class="tech-card">
        <i class="devicon-css3-plain-wordmark text-6xl" ></i>
        <p class="tech-name">CSS3</p>
      </div>
      <div class="tech-card">
        <i class="devicon-tailwindcss-plain text-6xl" ></i>
        <p class="tech-name">TailwindCSS</p>
      </div>
      <div class="tech-card">
        <i class="devicon-javascript-plain text-6xl" ></i>
        <p class="tech-name">JavaScript</p>
      </div>
      <div class="tech-card">
        <i class="devicon-typescript-plain text-6xl"></i>
        <p class="tech-name">TypeScript</p>
      </div>
      <div class="tech-card">
        <i class="devicon-react-original text-6xl"></i>
        <p class="tech-name">React</p>
      </div>
      <div class="tech-card">
        <i class="devicon-nextjs-plain text-6xl"></i>
        <p class="tech-name">Next.js</p>
      </div>
      <div class="tech-card">
        <i class="devicon-astro-plain text-6xl" ></i>
        <p class="tech-name">Astro</p>
      </div>
      <div class="tech-card">
        <i class="devicon-axios-plain text-7xl" ></i>
        <p class="tech-name">Axios</p>
      </div>
      <div class="tech-card">
        <i class="devicon-reactrouter-plain text-6xl" ></i>
        <p class="tech-name">React Router</p>
      </div>
      <div class="tech-card">
        <i class="devicon-bootstrap-plain text-6xl" ></i>
        <p class="tech-name">Bootstrap</p>
      </div>
    </div>
  </section>

  <!-- Backend Section -->
  <section id="backend" class="mb-16 w-full max-w-screen-lg mx-auto" data-aos="fade-right" data-aos-duration="1000">
    <h2 class="text-4xl font-extrabold mb-8 text-center text-green-400">Backend</h2>
    <div class="flex gap-10 flex-wrap justify-center">
      <div class="tech-card">
        <i class="devicon-nextjs-plain text-6xl"></i>
        <p class="tech-name">Next.js</p>
      </div>
      <div class="tech-card">
        <i class="devicon-firebase-plain text-6xl" ></i>
        <p class="tech-name">Firebase</p>
      </div>
      <div class="tech-card">
        <i class="devicon-supabase-plain text-6xl" ></i>
        <p class="tech-name">Supabase</p>
      </div>
      <div class="tech-card">
        <i class="devicon-prisma-original text-6xl text-gray-200"></i>
        <p class="tech-name">Prisma</p>
      </div>
      <div class="tech-card">
        <i class="devicon-sqlite-plain text-6xl" ></i>
        <p class="tech-name">SQLite</p>
      </div>
      <div class="tech-card">
        <i class="devicon-java-plain text-6xl" ></i>
        <p class="tech-name">Java</p>
      </div>
      <div class="tech-card">
        <i class="devicon-json-plain text-6xl"></i>
        <p class="tech-name">JSON</p>
      </div>
    </div>
  </section>

  <!-- Tools Section -->
  <section id="tools" class="mb-16 w-full max-w-screen-lg mx-auto" data-aos="fade-left" data-aos-duration="1000">
    <h2 class="text-4xl font-extrabold mb-8 text-center text-yellow-400">Tools</h2>
    <div class="flex gap-10 flex-wrap justify-center">
      <div class="tech-card">
        <i class="devicon-git-plain text-6xl" ></i>
        <p class="tech-name">Git</p>
      </div>
      <div class="tech-card">
        <i class="devicon-vitejs-plain text-6xl" ></i>
        <p class="tech-name">Vite.js</p>
      </div>
      <div class="tech-card">
        <i class="devicon-github-original text-gray-200 text-6xl" ></i>
        <p class="tech-name">GitHub</p>
      </div>
      <div class="tech-card">
        <i class="devicon-insomnia-plain text-6xl"></i>
        <p class="tech-name">Insomnia</p>
      </div>
      <div class="tech-card">
        <i class="devicon-materialui-plain text-6xl" ></i>
        <p class="tech-name">MUI</p>
      </div>
      <div class="tech-card">
        <i class="devicon-npm-original-wordmark text-6xl" ></i>
        <p class="tech-name">npm</p>
      </div>
      <div class="tech-card">
        <i class="devicon-slack-plain text-gray-200 text-6xl" ></i>
        <p class="tech-name">Slack</p>
      </div>
    </div>
  </section>
</main>

<style>
  .tech-card {
    text-align: center;
    background-color: rgb(41, 41, 41);
    width: 160px;
    height: 110px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 1rem;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.767);
  }

  .tech-card:hover {
    transform: scale(1.1);
  }

  i {
    color: white;
  }

  .tech-card:hover i {
    transition: color 0.3s ease;
  }
  .tech-card:hover i {
  transition: color 0.3s ease;
}

.tech-card:hover .devicon-html5-plain {
  color: #e34c26; /* Color de HTML5 */
}

.tech-card:hover .devicon-css3-plain-wordmark {
  color: #264de4; /* Color de CSS3 */
}

.tech-card:hover .devicon-tailwindcss-plain {
  color: #06b6d4; /* Color de TailwindCSS */
}

.tech-card:hover .devicon-javascript-plain {
  color: #f7df1e; /* Color de JavaScript */
}

.tech-card:hover .devicon-typescript-plain {
  color: #3178c6; /* Color de TypeScript */
}

.tech-card:hover .devicon-react-original {
  color: #61dafb; /* Color de React */
}

.tech-card:hover .devicon-nextjs-plain {
  color: #000000; /* Color de Next.js */
}

.tech-card:hover .devicon-astro-plain {
  color: #ff7e33; /* Color de Astro */
}

.tech-card:hover .devicon-axios-plain {
  color: #5a29e4; /* Color de Axios */
}

.tech-card:hover .devicon-reactrouter-plain {
  color: #ca4245; /* Color de React Router */
}

.tech-card:hover .devicon-bootstrap-plain {
  color: #7952b3; /* Color de Bootstrap */
}

.tech-card:hover .devicon-firebase-plain {
  color: #ffca28; /* Color de Firebase */
}

.tech-card:hover .devicon-supabase-plain {
  color: #3ecf8e; /* Color de Supabase */
}

.tech-card:hover .devicon-prisma-original {
  color: #2d3748; /* Color de Prisma */
}

.tech-card:hover .devicon-sqlite-plain {
  color: #003b57; /* Color de SQLite */
}

.tech-card:hover .devicon-java-plain {
  color: #5382a1; /* Color de Java */
}

.tech-card:hover .devicon-json-plain {
  color: #5e5e5e; /* Color de JSON */
}

.tech-card:hover .devicon-git-plain {
  color: #f05032; /* Color de Git */
}

.tech-card:hover .devicon-vitejs-plain {
  color: #646cff; /* Color de Vite.js */
}

.tech-card:hover .devicon-github-original {
  color: #ffffff; /* Color de GitHub */
}

.tech-card:hover .devicon-insomnia-plain {
  color: #5849be; /* Color de Insomnia */
}

.tech-card:hover .devicon-materialui-plain {
  color: #007fff; /* Color de MUI */
}

.tech-card:hover .devicon-npm-original-wordmark {
  color: #cb3837; /* Color de npm */
}

.tech-card:hover .devicon-slack-plain {
  color: #4a154b; /* Color de Slack */
}

  /* Media Queries */
  @media (max-width: 768px) {
    .tech-card {
      width: 45%; /* Two columns */
      margin: 10px 0;
    }

    .text-6xl {
      font-size: 3rem; /* Adjust icon size for mobile */
    }

    h2 {
      font-size: 2rem;
    }

    .text-center {
      text-align: center;
   
    }
  }
</style>

